body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  background-color: rgb(235, 234, 217);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #13293d;
}
  
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
}
  
h1 {
  font-size: 200%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}
  
nav a {
  color: #b9c6ae;
  font-weight: bold;
  text-decoration: none;
  margin-right: 15px;
}

.aboutme {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: content-box;
  padding-bottom: 15px;

}

.aboutme .me{
  padding: 100px 20px;
  width: 20%;
  height: 100%;
  font-weight: 700;
  font-size: xx-large;
  margin-top: 0%; 
  border-right: 3px solid #13293d;
  color: #13293d;
  background-color: #b9c6ae;;
}
.minime {
  display: none;
  padding: 3%;
  border-style: solid;
  background-color: #13293d;
  color: white;
  font-size: x-large;
  font-weight: 500;
}

.aboutme article {
  flex: 1;
  padding: 0 10px;
}

.aboutme img {
  border-style: solid;
  border-width: 1px;
  border-radius: 100%;
  border-color: #13293d;
}

.apps .work{
  padding: 445px 20px;
  clear: both;
  display: flex;
  float: left;
  width: 20%;
  height: 100%;
  font-weight: 700;
  font-size: xx-large;
  border-right: 3px solid #13293d;
  color: #13293d;
  background-color: #b9c6ae;
}

.apps article {
  position: relative;
  display: inline-block;
}

.card1 {
  padding: 5px;
  color: #13293d;
  border-style: solid;
  background-color: #b9c6ae;
  left: 5px;
  bottom: 10px;
  size: 100%;
}

.article .card1 {
  position: relative;
  text-align: center;
  color: white
}

.card1 .bottom-right {
  position: absolute;
  bottom: 1%;
  right: 1%;
  padding: 3%;
  border-style: solid;
  background-color: #13293d;
  color: white;
  font-size: x-large;
  font-weight: 500;
}

.apps .bottom-right-small {
  position: absolute;
  bottom: 5%;
  right: 5%;
  padding: 3%;
  border-style: solid;
  background-color: #13293d;
  color: white;
  font-size: large;
  font-weight: 500;
}

.app2 .card2, .card3{
  position: relative;
  display: inline-block;
  padding: 0 10px;
  block-size: 25%;
  height: 10%;
  flex: 1;
}

.app4 .card4, .card5 {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  block-size: 25%;
  height: 10%;
  
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1% 25%;
  background-color: #13293d;
  color: #fff;
  width: 100%;
}




@media screen and (max-width: 768px) {
  header, main, body, .apps, img, footer {
    flex-direction: column;
    justify-content: center;
    
  }
  .me {
    display: none
  }
  
  .apps .work {
    display: none;
  }

  aside {
    width: 100%;
    text-align: center;
  }
  
  .card1 {
    width: 75%;
  }

  .apps img {
    width: 100%;
  }
  .minime {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .info {
    flex-direction: column;
    display: flex;
    width: 55%;
  }

  .aboutme {
    padding-bottom: 15px;
  }

  .aboutme img {
    position: absolute;
    top: -150px;
    right: 0px;
    width: 20%;
  }

  footer {
    padding: 1% 2%;
  }
}



@media only screen and (max-width: 480px) {
  .card1 {
    width: 75%;
  }
  .aboutme img {
    position: absolute;
    top: -70px;
    right: 10px;
    width: 15%;
  }

}